###########
# GENERAL #
###########

snippet ife
if ($1) {
    $2
} else {
    $3
}
endsnippet

snippet clvi
var util = require('util')
console.log('$1: ', util.inspect(${1}, false, null))
endsnippet

snippet clv
console.log('$1: ', ${1})
endsnippet

snippet cl
console.log('${1}')
endsnippet

snippet cev
console.error('$1: ', ${1:err})
endsnippet

snippet ce
console.error('${1}')
endsnippet
